root {
  --background-color: #f6f5f0; 
  --folder-color: #e9dcc1; 
  --green-color: #32563c; 
}

body {
    overflow:hidden;
    background:#f6f5f0;
    font-family: Arial, Helvetica, sans-serif;
}

#left {
	width: 12%;
	height:100%;
	float:left;
	background-color:#f6f5f0;
}

#top {
    width: 80%;
    font-size: x-large;
    float:left;
    display:inline-block;
    vertical-align:bottom;
    font-family: Arial, Helvetica, sans-serif;
}

#site {
     font-size: x-large;
     width:30%;
     color:#32563c;
     background: #f6f5f0;
     text-shadow: 2px 2px 5px #814f2a;
     display:inline-block;
	 transform: translateY(-20%);
	 padding-top:5px;
}

#logo {
     display:inline-block;

}

#main {
	width:87%;
	height:100%;
	display:inline-block;
}

#project{
    width:25%;
    font-size: medium;
    display:inline-block;
	float:left;
}

#project select{
	width:270px;
	margin-left:30px;

}

#project select option{
	background-color:#e8cf9e;
	color:maroon;
}

#tabdata{
	width:73%;
    font-size: x-large;
    display:inline-block;
    font-family: Arial, Helvetica, sans-serif;
	float: right;
	
}

.login{
	position:absolute;
	width:200px;
	height:110px;
	top:0px;
	left:calc(100% - 200px);
    font-size:8px; 
    padding-top:10px;
    padding-right:10px;
    text-align:right;
    text-shadow: 2px 2px 5px white;
    float:right;                  
}

.menu {
    display:inline-block; 
    border-radius: 10px 10px 0px 0px; 
    vertical-align:bottom;

    
}

.menuactive {
	display:inline-block; 
	border-radius: 10px 10px 0px 0px;
}

.menu div {
    text-decoration: none;
    margin: 0;
    padding: 0;
    height:35px;
    overflow: hidden;
    display:inline-block;
    float: left;
    font-size:medium;
    border-right: 1px solid #f6f5f0;
    background-color:#315740;
    color:white;
}

.menu div a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 13px 12px ;
    text-decoration:none;
    vertical-align:bottom;
                                                
}

.menuactive div a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 13px 12px;
    text-decoration:none;
    vertical-align:bottom; 
    border-radius: 20px 20px 20px 20px;                                           
}

                                                
.menu div a:hover {
    color:white;
}

 .sidemenu ul{
    list-style-type: none;
    margin: 0;
    padding: 0px;
    overflow: hidden;
    background-color: #C0C0C0;
    width:95%;
    float:left;
}

.sidemenu li {
    float: left;
    width:100%;
    font-size:medium;
    border-bottom: 8px solid #f6f5f0;
                                                    
}
                                                
.sidemenu li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 4px 8px 4px 8px;
    text-decoration: none;
    vertical-align:top;                                            
}

                                                
.sidemenu li:hover {
    background-color: #e8cf9e;
}


.tabbody {
	background-color:#e9dcc1;
	width:100%;
	height:100%;
	float:left;
	padding:20px 10px 10px 20px;
	display:inline-block;
	border-radius: 10px 10px 0px 0px; 
	
}

.action {
	position:absolute;
	top:0;
	left:0;
	right:0;
	width:100%;
	height:100%;
	background-color:black;
	opacity: 0.7;
	z-index:20;
}

.exit {
    position:relative;
    left:calc(100% - 70px);
    top:0;
    width:60px;
    display: inline-block;
    color: #FF0F0F;
    font-weight:bold;
    text-align: center;
    text-decoration:none;
    padding:10px 10px 10px 10px; 
    background-color:#C00000; 
    font-family: Arial, Helvetica, sans-serif;
    font-size:medium; 
    border-radius:0 5px 0px 5px;
    
                                          
}

.exit:hover{
	color:white;
}

.form {
	width:50%;
	height:70%;
	background-color:#f6f5f0;
	position:absolute;
	left:calc(50% / 2);
	top:calc(30% /2);
	padding:0px 10px 10px 10px; 
	border-radius: 10px 10px 10px 10px; 
	border:2px #32563c groove; 
	z-index:30;
}

.formtitle {
    position:relative;
    left:-10px;
    border-radius:0 5px 5px 0px;
    width:400px;
    color: white;
    font-weight:bold;
    text-align: center;
    text-decoration:none;
    padding:10px 10px 10px  10px; 
    font-family: Arial, Helvetica, sans-serif;
    font-size:x-large; 
    background-color: #32563c;
    border-top:2px #314736 solid;  
    border-right:2px #32563c groove;
    border-bottom:2px #93af9a solid; 
    border-right:2px #93af9a solid;                               
}

.center {
	text-align:center;
}



