body {
    overflow:hidden;
    background:#F1A983;
}

.opsresult{
	position:relative;
	top:300px;
	height:100%;
	vertical-align:bottom;
	color:maroon;
}

.siteswitcher{
	display: inline-block;
    color: white;
    font-weight:bold;
    text-align: center;
    width:90%;
    text-decoration:none;
    padding:5px 5px 5px 5px; 
    background-color:#CF9373; 
    font-family: Arial, Helvetica, sans-serif;
    font-size:small; 
    border:thin #E6B9A0 ridge;

}

.locator{
	display:inline-block;
	font-size:large;
	width:95%;
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
}

.locator2{
	display:inline-block;
	font-size:large;
	width:33%;
	padding-bottom:10px;
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	background-color:#dfb49d;
}

table .locator{
	margin:0 auto;
}

.locator table{
	margin:0 auto;
}


.siteswitcher:hover{
	color:yellow;

}

.siteswitcheractive{
	display: inline-block;
    color: white;
    font-weight:bold;
    text-align: center;
    width:90%;
    text-decoration:none;
    padding:5px 5px 5px 5px; 
    background-color:#A14615; 
    font-family: Arial, Helvetica, sans-serif;
    font-size:small; 
    border:thin #E6B9A0 ridge;

}

.siteswitcherheader{
	background-color:#E6B9A0;
	width:100%;
	font-size:xx-small;
}

.siteswitcherlocation{
	position:absolute;
	width:370px;
	top:20px;
	left:calc(40% - 400px);
	font-family: Arial, Helvetica, sans-serif;
    font-size:8px; 
    text-align:right;
    float:right;
    z-index:10;
}

.login{
	position:absolute;
	width:200px;
	height:110px;
	top:0px;
	left:calc(100% - 200px);
	font-family: Arial, Helvetica, sans-serif;
    font-size:8px; 
    padding-top:10px;
    padding-right:10px;
    text-align:right;
    text-shadow: 2px 2px 5px white;
    float:right;
                      
}

.action {
	position:absolute;
	left:0;
	right:0;
	width:100%;
	height:100%;
	background-color:black;
	opacity: 0.7;
	z-index:20;
}

.exit {
    position:relative;
    left:calc(100% - 70px);
    top:0;
    width:60px;
    display: inline-block;
    color: #FF0F0F;
    font-weight:bold;
    text-align: center;
    
    text-decoration:none;
    padding:10px 10px 10px 10px; 
    background-color:#C00000; 
    font-family: Arial, Helvetica, sans-serif;
    font-size:medium; 
                                          
}

.exit:hover{
	color:white;
}

.formtitle {
    position:relative;
    left:-10px;
    
    width:400px;
    color: white;
    font-weight:bold;
    text-align: center;
    text-decoration:none;
    padding:10px 10px 10px  10px; 
    font-family: Arial, Helvetica, sans-serif;
    font-size:x-large; 
    background-color: #182E56;                                  
}

.center {
	text-align:center;
}

.form {
	width:50%;
	height:50%;
	background-color:#F1A983;
	position:absolute;
	left:calc(50% / 2);
	top:calc(50% /2);
	padding:0px 10px 10px 10px; 
	z-index:30;
}

.disabled{
	background-color:#F1A983;
	text-align:right;
	border:none;
	
}

.forml {
	width:50%;
	height:70%;
	background-color:#F1A983;
	position:absolute;
	left:calc(50% / 2);
	top:calc(30% /2);
	padding:0px 10px 10px 10px; 
	z-index:30;
}


.center form {
	display:inline-block;
}

.center table {
	margin:0 auto;
}

#site {
     font-size: xx-large;
     width:36%;
     margin: 0;
     padding: 0;
     
     background: #F1A983;
     text-shadow: 2px 2px 5px white;
     display:inline-block;
     position: relative;
	 transform: translateY(-70%);
}

#startsite {
     font-size: xx-large;
     
     margin: 0;
     padding: 0;
     
     background: #F1A983;
     text-shadow: 2px 2px 5px white;
     display:inline-block;
  	 transform: translateY(-70%);
}


#logo {
     display:inline-block;
     vertical-align:bottom;
}

#startlogo {
     display:inline-block;
     
     text-align:center;
}


#main {
    width: 100%;
    height:78px;
    font-size: x-large;
    background: #F1A983;
    float:left;
    display:inline-block;
    font-family: Arial, Helvetica, sans-serif;

}

#controls{
    width: 10%;
    height:100%;
    font-size: x-large;
    background: #F1A983;
    display:inline-block;
    font-family: Arial, Helvetica, sans-serif;
    float:left;


}

#startcontrols{
    width: 10%;
    height:100%;
    font-size: x-large;
    background: #F1A983;
    display:inline-block;
    font-family: Arial, Helvetica, sans-serif;
    float:left;
    

}


#metrics{
    /*width: 28%;*/
    width:530px;
    height:100%;
    font-size: x-large;
    background: #dfb49d;
    display:inline-block;
    font-family: Arial, Helvetica, sans-serif;
    

}


#data{
	width:59%;
    height:100%;
    font-size: x-large;
    display:inline-block;
    font-family: Arial, Helvetica, sans-serif;
	float: right;
	border-right:8px green solid;
}

.datatable {

background-color:white;


}

.datascroll {
	height:87%;
	overflow:auto;
	display:inline-block;
}


.metricsdata {
	height:45%;
	padding-left:20px;


}

.metricstitle {

	display:inline-block;
	float:left;
	background-color:#F1A983;
	left:-10px;
	width: 100%;

}

.calendar {
	height:100%;
		
}


#container{
    width: 100%;
    height:100%;
    font-size: x-large;
    display:inline-block;
    font-family: Arial, Helvetica, sans-serif;
	float:left;
	
}

#startcontainer{
    width: 250px;
    height:100%;
    font-size: x-large;
    display:inline-block;
    font-family: Arial, Helvetica, sans-serif;
	float:left;

	text-align:center;
	
}



#catchphrase {
    padding: 0px;
    padding-bottom: 10px;

    text-align:right;
    width:50%;
    display:inline-block;

    
}

.vendor {
	background-color:#9F6CF4;
	width:100%;
	height:100%;
	float:left;
	padding:20px 10px 10px 20px;
	
}

.Expense {
	background-color:#C00000;
	width:100%;
	height:100%;
	float:left;
	padding:20px 10px 10px 20px;
	display:inline-block;
	
}

.Inventory {
	background-color:#4D93D9;
	width:100%;
	height:100%;
	float:left;
	padding:20px 10px 10px 20px;
	display:inline-block;
	
}

.Sales {
	background-color:#4EA72E;
	width:100%;
	height:100%;
	float:left;
	padding:20px 10px 10px 20px;
	display:inline-block;
	
}

.Sizes {
	background-color:#C0C000;
	width:100%;
	height:100%;
	float:left;
	padding:20px 10px 10px 20px;
	display:inline-block;
	
}

.Accounts{
	background-color:#B67070;
	width:100%;
	height:100%;
	float:left;
	padding:20px 10px 10px 20px;
	display:inline-block;
	
}




.Mold{
	background-color:#F47E28;
	width:100%;
	height:100%;
	float:left;
	padding:20px 10px 10px 20px;
	
}


.vendorhd {
	background-color:#DDCDF7;
	text-align:left;
}

.expensehd {
	background-color:#FBB7B7;
	text-align:left;
}

.moldhd {
	background-color:#F7D7BF;
	text-align:left;
}

.inventoryhd {
	background-color:#C9DAE9;
	text-align:left;
}

.saleshd {
	background-color:#C9EABE;
	text-align:left;
}

.sizeshd {
	background-color:#E9E9BF;
	text-align:left;
}

.accountshd {
	background-color:#B67070;
	text-align:left;
}




.menu {
    display:inline-block; 
    border-radius: 20px 20px 0px 0px; 
}

.menuactive {
	display:inline-block; 
	border-radius: 20px 20px 0px 0px;
}

.menu div {
    text-decoration: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display:inline-block;
    float: left;
    font-size:medium;
    border-right: 1px solid #F1A983;
    
}

.menu div a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 13px 12px;
    text-decoration:none;
    vertical-align:bottom;
                                                
}

.menuactive div a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 13px 12px;
    text-decoration:none;
    vertical-align:bottom; 
    border-radius: 20px 20px 20px 20px;                                           
}

                                                
.menu div a:hover {
    color:white;
}

 .button{
    list-style-type: none;
    margin: 0;
    padding: 0px;
    overflow: hidden;
    background-color: #C0C0C0;
    float:left;
    display: inline-block;
    color: black;
    text-align: center;
    padding: 4px 8px 4px 8px;
    text-decoration: none;
    vertical-align:top;
 
}

.button:hover {
    background-color: #fadf48;
}

.smbutton{
	display:inline-block;
	list-style-type: none;
    margin: 0;
    padding: 0px;
    overflow: hidden;
    background-color: #C0C0C0;
    float:right;
    display: inline-block;
    color: black;
    text-align: center;
    padding: 4px 8px 4px 8px;
    text-decoration: none;
    vertical-align:top;
    font-size:small;


    height:16px; 
}
.smbutton:hover{
	background-color: #fadf48;

}

.smbuttonactive{
	display:inline-block;
	list-style-type: none;
    margin: 0;
    padding: 0px;
    overflow: hidden;
	background-color: #dfb49d;
	float:right;
    display: inline-block;
    color: black;
    text-align: center;
    padding: 4px 8px 4px 8px;
    text-decoration: none;
    vertical-align:top;
    font-size:small;

    height:16px; 

}

 .sidemenu ul{
    list-style-type: none;
    margin: 0;
    padding: 0px;
    overflow: hidden;
    background-color: #C0C0C0;
    float:left;
}

.sidemenu li {
    float: left;
    width:100%;
    font-size:medium;
    border-bottom: 8px solid #F1A983;
                                                    
}
                                                
.sidemenu li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 4px 8px 4px 8px;
    text-decoration: none;
    vertical-align:top;                                            
}

                                                
.sidemenu li:hover {
    background-color: #fadf48;
}

 


 .bigmenu ul{
    list-style-type: none;
    margin: 0;
    padding: 0px;
    overflow: hidden;
    background-color: #C0C0C0;
    font-family:Arial, Helvetica, sans-serif;
    font-size:xx-large;
    text-align:center;
    float:left;
    vertical-align:middle;
}

.bigmenu li {
    float: left;
    width:100%;
    font-size:x-large;
    vertical-align:middle;
    height:15vh;
    border-bottom: 8px solid #F1A983;
    text-decoration:none;
    color: black;                                            
}
                                                

.bigmenu li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 4px 8px 4px 8px;
    text-decoration: none;
    vertical-align:top;                                            
}

                                                
.bigmenu li:hover {
    background-color: #fadf48;
}
                                               

.round a{
    background: #ff4052;
    padding-bottom: 4px;
    padding-right: 7px;
    padding-left: 12px;
    padding-top: 4px;
    border: 2px solid #333;
    border-radius: 20px 20px 20px 20px;
    width:180px;
    display:inline-block;

    text-decoration: none;
    color: black;
}

.round a:hover{
	background:#018eaa;
    border: 2px solid #333;
    border-radius: 20px 20px 20px 20px;
    width:180px;
    float:right;
    text-decoration: none;
	color:black;
}
.sidemenu {
    padding-bottom: 4px;
    padding-right: 7px;
    padding-left: 7px;
    padding-top: 4px;
    font-size:large;  
}

.hold {
	text-shadow: 4px 4px 10px white;
	text-shadow: 4px 4px 10px white;
}


.top {
	width:100%;
	height:60px;

}
.logbar {
    background: #018eaa;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    padding: 5px;
    outline-style: double;
    outline-color: #018eaa;
    outline-width: 3px;
}  

#frm {
    border: solid grey 1px;
    width: 20%;
    border-radius: 5px;
    margin: 100px auto;
    background: white;
    padding: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#lock {
    border: solid grey 1px;
    width: 20%;
    border-radius: 5px;
    margin: 100px auto;
    background: red;
    padding-left: 50px;
    padding-right: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} 

#fail {
border: solid grey 1px;
    
    border-radius: 5px;
    margin: 5px auto;
    background: pink;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.caltitle {
	font-size: 20px;
    font-weight: bold;
    color: #636e73;
    padding:0 2px 1px 2px;
    vertical-align:top;
	display: inline-block;
}

.arrowright
    {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 10px 0 10px 15px;
    border-color: transparent transparent transparent #636e73;
    display: inline-block;
    margin: 0 5px 0 5px;
    top:10px;
    }

.arrowleft
    {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 10px 15px 10px 0;
    border-color: transparent #636e73 transparent transparent;
    display: inline-block;
    margin: 0 5px 0 5px;
    }

.calendar {
    display: flex;
    flex-flow: column;
    text-decoration:none;
}
.calendar .header .month-year {
    font-size: 20px;
    font-weight: bold;
    color: #636e73;
    padding: 10px 0;
    display:none;
}
.calendar .days {
    display: flex;
    flex-flow: wrap;
}
.calendar .days .day_name {
    width: 34px;
    border-right: 1px solid #2c7aca;
    padding: 20px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    color: #818589;
    color: #fff;
    background-color: #448cd6;
}
.calendar .days .day_name:nth-child(7) {
    border: none;
}
.calendar .days .day_num {
    display: flex;
    flex-flow: column;
    width: 64px;
    height:50px;
    border-right: 1px solid #e6e9ea;
    border-bottom: 1px solid #e6e9ea;
    padding: 5px;
    font-weight: bold;
    color: #7c878d;
    cursor: pointer;
    min-height: 50px;
}
.calendar .days .day_num span {
    display: inline-flex;
    width: 30px;
    font-size: 14px;
}
.calendar .days .day_num .event {
    margin-top: 5px;
    font-weight: 500;
    font-size: 10px;
    padding: 2px 2px;
    border-radius: 4px;
    background-color: #A14615;
    color: #fff;
    word-wrap: break-word;
    text-decoration:none;
    
}
.calendar .days .day_num .event.green {
    background-color: #51ce57;
}
.calendar .days .day_num .event.blue {
    background-color: #518fce;
}
.calendar .days .day_num .event.red {
    background-color: #ce5151;
}
.calendar .days .day_num:nth-child(7n+1) {
    border-left: 1px solid #e6e9ea;
}
.calendar .days .day_num:hover {
    background-color: #fdfdfd;
}
.calendar .days .day_num.ignore {
    background-color: #dfb49d;
    color: #dfb49d;
    cursor: inherit;
    
}
.calendar .days .day_num.selected {
    background-color: #f1f2f3;
    cursor: inherit;
}

.calendar a {
	text-decoration:none;
	color:white;
}

.iframeclass {
    border-style: none;
    border-color: inherit;
    border-width: 0;
    position: relative;
    padding-bottom: 56.25%; /* proportion value to aspect ratio 16:9 (9 / 16 = 0.5625 or 56.25%) */
    overflow: hidden;
    height: 1381px;
    width: 100%;
    vertical-align:top;
    top: 0px;
    left: 0px;
    padding-top:20px;
    
    @import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css?family=Hind&display=swap');

* {
  -webkit-font-smoothing: antialiased;
  color: #acbdce;
}

:root {
  --border-radius: 10px;
}

body, html {
  background: #e2e9f4;
  display: grid;
  height: 100%;
  grid-template: 1fr/100%;
  place-items: center;
}

.Card {
  padding: 1px;
  border-radius: var(--border-radius);
  background: linear-gradient(-67deg, rgba(#c8d8e7, .7), rgba(255,255,255,.8));
  overflow: hidden;
  box-shadow: 
    -2px -2px 6px rgba(#fff, .6),
    2px 2px 12px #c8d8e7;
  width: 380px;
}

.CardInner {
  padding: 16px 16px;
  background-color: #e2e9f4;
  border-radius: var(--border-radius);
}

.scontainer {
  display: flex;
}

.Icon {
  min-width: 46px;
  min-height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
  margin-right: 12px;
  box-shadow: 
    -2px -2px 6px rgba(#fff, .6),
    2px 2px 12px #c8d8e7;
    
  svg {
    transform: translate(-1px, -1px);    
  }
}

label {
  font-family: "Hind", sans-serif;
  display: block;
  color: #3c4b66;
  margin-bottom: 12px;
  background: linear-gradient(45deg, rgba(#6b7b8f, 1), #3c4b66);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.InputContainer {
  width: 100%;
}

input {
  background-color: #e3edf7;
  padding: 16px 32px;
  border: none;
  display: block;
  font-family: 'Orbitron', sans-serif;
  font-weight: 600;
  color: #a9b8c9;
  -webkit-appearance: none;
  transition: all 240ms ease-out;
  width: 100%;
  
  &::placeholder {
    color: #6d7f8f;
  }
  
  &:focus {
    outline: none;
    color: #6d7f8f;
    background-color: lighten(#e3edf7, 3%);
  }
};
  
.InputContainer {
  --top-shadow: inset 1px 1px 3px #c5d4e3, inset 2px 2px 6px #c5d4e3;
  --bottom-shadow: inset -2px -2px 4px rgba(255,255,255, .7);
  
  position: relative;
  border-radius: var(--border-radius);
  overflow: hidden;
  
  &:before,
  &:after {
    left: 0;
    top: 0;
    display: block;
    content: "";
    pointer-events: none;
    width: 100%;
    height: 100%;
    position: absolute;
  }
  
  &:before {
    box-shadow: var(--bottom-shadow);
  }
  
  &:after {
    box-shadow: var(--top-shadow);
  }
}
    
}
